<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" style="margin-top: 2em">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Delete Employees</h3>
  </div>
  <div class="panel-body">
    <table class="table table-responsive table-striped">
		<thead>
			<tr  class="active">
			<th> <span class="glyphicon glyphicon-trash"></span></th>
			<th>ID</th>
			<th>EMAIL</th>
			<th>ALIAS</th>
			<th>LOCATION</th>
			<th>ROLE</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="e in employees">
				<td><span ng-class="{true:'glyphicon glyphicon-trash clickable',false:'glyphicon glyphicon-remove clickable'}[e.sel==true]"
						  ng-click="e.sel = !e.sel;" ></span></td>
				<td>{{e.empno}}</td>
				<td>{{e.email}}</td>
				<td>{{e.alias}}</td>
				<td>{{e.location}}</td>
				<td>{{e.role}}</td>
			</tr>
		</tbody>
	</table>
	<span class="pull-right">
		 <button class="btn btn-default" ng-click="saveChanges()" ng-hide="btnDisable==true">Save Changes</button>
	</span>
  </div>
</div>
    
</div>