<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-12 col-xs-12" style="margin-top:8em" >
    <form class="form-horizontal well">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="user.username">
                    <span class="input-group-addon">@infosys.com</span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">

                    <input type="password" class="form-control" ng-model="user.password">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="login()">
                            <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </span>
                </div>
            </div>
        </fieldset>
    </form>
</div>